html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
}
body{
  background-image: url(../img/default.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}